
body{
    background: rgb(71, 160, 238);
}

.container{
    max-width: 500px;
}

.todos span{
    font-weight: 500;
}

input[type="text"],
input[type="text"]:focus{
    border: none;
}
.todos li{
    background: rgb(38, 100, 194);
}

i:hover{
    cursor: pointer;
}

.remove{
    display: none !important;
}